<template name="createchannel">
      <form class="new-channel">
      	<label for="text">Subject</label>
        <input type="text" name="subject" value="{{subject}}" placeholder="Type to add new channel" />
        <label for="p">Privacy</label>
        <select name="p" id="p">
            <option value="1">Open</option>
            <option value="0">Private</option>
        </select>
        <label for="l">Length of Arena</label>
        <select name="l">
            <option value="1">1 day </option>
            <option value="7">1 week</option>
            <option value="31">1 month</option>
            <option value="-1"> Unlimited</option>
        </select>
        
        <input type="submit" name="submit" value="Create" />

      </form>
      
      
</template>