<template name="createchannel">
      <h1>Create Arena</h1>
      <form class="new-channel">
      	<label for="text">Subject</label>
        <input type="text" name="subject" placeholder="Type to add new channel" />
        <label for="u2">Add user 2</label>
        <input type="text" name="u2" id="u2" class="form-control u2" placeholder="Add user..." />
        {{> user2}}
        <input type="text" name="u3" id="u3" class="form-control u3" placeholder="Add user..." />
        {{> user3}}
        <label for="p">Private</label>
        <input type="checkbox" name="p" id="p" />
        <input type="submit" name="submit" value="Create" />

      </form>
      
      
</template>