<template name="message">
    <div class="message">
        <a href="" class="message_profile-pic"></a>
        <a href="" class="message_username">{{usernameFromId user}}</a>
        <span class="message_timestamp">{{timestampToTime timestamp}}</span>
        <span class="message_star"></span>
        <span class="message_content">{{text}}</span>
        <a href="#" class="vote-up" ><i class="fa fa-long-arrow-up"></i>Up</a>
        <a href="#" class="vote-down" ><i class="fa fa-long-arrow-down"></i>Down</a>
        <a href="#" id="" class="followchannel" data-name="{{channel}}" >Follow arena ></a>
    </div>
</template>