<template name="friends">
<a href="/arena/settings/" id="next" class="button"><span>Next</span><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
  <div class="tabbed">

  <!-- first panel -->

  <input name="tabbed" id="tabbed1" type="radio" checked>
  <section>
    <h1>
      <label for="tabbed1">Friends</label>
    </h1>
    <div>
    {{> follows}}
    </div>
  </section>

  <!-- second panel -->

  <input name="tabbed" id="tabbed2" type="radio">
  <section>
    <h1>
      <label for="tabbed2">Search</label>
    </h1>
    <div>
    {{> search}}
    </div>
  </section>

  <input name="tabbed" id="tabbed2" type="radio">
  <section>
    <h1>
      <label for="tabbed2">Phone</label>
    </h1>
    <div>
    {{> search}}
    </div>
  </section>

  <!-- and so on -->

</div>
		                        
 </template>      